.Auth {
  width: 80%;
  text-align: center;
  margin: 20px auto;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  padding: 10px;
}

.Input {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 5px 6px;
  border: none;
  border-bottom: 1px solid grey;
} 

.Input:focus {
  outline: none;
}

.Input:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .Auth {
    width: 500px;
  }

  .Input {
    width: 400px;
  }
}
