.Input {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  position: relative;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: inherit;
  padding: 6px 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.ErrorMessage {
  text-transform: capitalize;
  color: red;
  position: absolute;
  bottom: -5px;
  left: 10px;
}